<aside class="aside">
    <div class="aside-info">
        <div class="aside-info-item">
            <div class="aside-info-item__ico">
                <img src="/src/img/design/ico/aside/1.svg" alt="ico">
            </div>
            <!-- /.aside-info-item__ico -->
            <div class="aside-info-item__text">
                Собственное<br>
                производство
            </div>
            <!-- /.aside-info-item__text -->
        </div>
        <!-- /.aside-info-item -->
        <div class="aside-info-item">
            <div class="aside-info-item__ico">
                <img src="/src/img/design/ico/aside/2.svg" alt="ico">
            </div>
            <!-- /.aside-info-item__ico -->
            <div class="aside-info-item__text">
                Склад в центре<br>
                Санкт-Петербурга
            </div>
            <!-- /.aside-info-item__text -->
        </div>
        <!-- /.aside-info-item -->
        <div class="aside-info-item">
            <div class="aside-info-item__ico">
                <img src="/src/img/design/ico/aside/3.svg" alt="ico">
            </div>
            <!-- /.aside-info-item__ico -->
            <div class="aside-info-item__text">
                Быстрая<br>
                отгрузка
            </div>
            <!-- /.aside-info-item__text -->
        </div>
        <!-- /.aside-info-item -->
    </div>
    <!-- /.aside-info -->
</aside>
<!-- /.aside -->