<div class="breadcrumbs">
    <div class="container">
        <ul>
            <li><a href="#">Главная</a></li>
            <li><a href="#">Отраслевые решения</a></li>
            <li>Упаковка мусора</li>
        </ul>
    </div>
    <!-- /.container -->
</div>
<!-- /.breadcrumbs -->