<section class="content">
    <div class="wrapper">
        <h1 class="h1">
            ЛЕНТА ДЛЯ УПАКОВКИ КИП<br>
            МУСОРА ПОСЛЕ ПРЕССА
        </h1>
        <!-- /.h1 -->
        <h1 >
        </h1>
        <p class="p">
            ЖСА выпускает упаковочные, крепежные и монтажные ленты уже более 20 лет.
            Наша компания — ответственный поставщик металлопроката! Мы надежный партнер для управляющих компаний, ЖКС и предприятий различных сфер. На нашем складе
            в наличии более 200 тонн готовых товаров: около 10 видов, 50 типоразмеров.
            Мы обеспечиваем высокое качество, добросовестный подход
            к каждому заказу и гибкость в ценообразовании.
        </p>
        <!-- /.p -->
        <p class="p">
            Чтобы ускорить процесс погрузки и перевозки отходов (металлических, пластиковых
            и т.д.) не обойтись без специальных упаковочных материалов. Компания ЖСА уже
            не первый год занимается поставкой профессиональных упаковочных материалов.
        </p>
        <!-- /.p -->
    </div>
    <!-- /.wrapper -->
    <div class="image-wrap">
        <img src="/src/img/content/img.jpg" alt="image">
    </div>
    <!-- /.image-wrap -->
    <div class="wrapper">
        <h2 class="h2">
            Отраслевые решения
        </h2>
        <!-- /.h2 -->
        <p class="p">
            Использование профессионального оборудования при скреплении позволяет контролировать оптимальный расход материалов и значительно сэкономить денежные средства предприятия.  Ленты, предоставленные в каталоге, надёжно скрепляют грузы и прессованные отходы разного типа с помощью специальных<br> натяжителей
            или клещей.
        </p>
        <!-- /.p -->
        <p class="p">
            <a href="#">Полипропиленовая лента</a> – подходит для обвязки и крепления керамической плитки, фанеры, коробок с товарами, различных предметов (весом до 500-та кг).
        </p>
        <!-- /.p -->
        <p class="p">
            <a href="#">Полиэстеровая лента</a> – наиболее прочный тип обвязки для скрепления каменных материалов, металла, деревянных изделий и других строительных материалов.
        </p>
        <!-- /.p -->
        <p class="p">
            <a href="#">
                Cord-лента
            </a>
        </p>
        <!-- /.p -->
    </div>
    <!-- /.wrapper -->
</section>
<!-- /.content -->