<!doctype html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% set site_name = 'test' %}
    <title>{{ site_name }} {% if page_name %} - {% endif %} {{ page_name }}</title>
    <meta name="description" content="">

    {% set version = '?v=' ~ random() %}
    <link rel="stylesheet" href="css/style.css{% if version %}{{ version }}{% endif %}">
</head>
    <body>

        {% include '../common/header/header.twig' %}

        {% block content %}{% endblock %}

        {% include '../common/footer/footer.twig' %}

        {% include '../debug/debug.twig' %}

        <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>

        <script>window.jQuery || document.write('<script src="js/vendor/jquery-3.4.1.min.js"><\/script>')</script>

        <script src="js/vendor/bootstrap.min.js"></script>
        <script src="js/main.js{% if version %}{{ version }}{% endif %}"></script>

    </body>

</html>

