@font-face {
  font-family: 'geometria';
  src: url('../fonts/geometria-webfont.eot');
  src: url('../fonts/geometria-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/geometria-webfont.woff2') format('woff2'),
  url('../fonts/geometria-webfont.woff') format('woff'),
  url('../fonts/geometria-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'geometria';
  src: url('../fonts/geometria-bold-webfont.eot');
  src: url('../fonts/geometria-bold-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/geometria-bold-webfont.woff2') format('woff2'),
  url('../fonts/geometria-bold-webfont.woff') format('woff'),
  url('../fonts/geometria-bold-webfont.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}