<div class="responsive-marker">
    <div class="responsive-marker__item responsive-marker__item--lg">lg</div>
    <!-- /.responsive-marker__item -->
    <div class="responsive-marker__item responsive-marker__item--md">md</div>
    <!-- /.responsive-marker__item -->
    <div class="responsive-marker__item responsive-marker__item--sm">sm</div>
    <!-- /.responsive-marker__item -->
    <div class="responsive-marker__item responsive-marker__item--xs">xs</div>
    <!-- /.responsive-marker__item -->
</div>
<!-- /.tmp -->
